@{
    ViewBag.Title = "Qui Nous Sommes : ";
}
<h2 class="alert alert-info">@ViewBag.Title.</h2>

<p class="bg-info text-center " style="padding-bottom:10px"><b>Vous aimez les défis et les post-it ?<br />
    Vous aimez travailler (beaucoup) dans une ambiance ludique et motivante ?<br />
    Vous avez envie de nouveautés, d’innovations et d’apporter des solutions réellement utiles aux utilisateurs et clients ?<br />
    Alors adressez-nous dès aujourd’hui votre CV accompagné de votre lettre de motivation, en précisant le type de poste pour lequel vous souhaitez postuler
    <br />
         
    </b></p>
