<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style>
        .hover-link:hover {
            color: red;
        }
    </style>
    <link href="~/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/public/css/font.css" rel="stylesheet" />
    <link href="~/public/css/myStyle.css" rel="stylesheet" />


</head>
<body>
    <!--NavBar--> 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home" class="navbar-brand">
                    <img src="~/public/img/hr.png"  id="logo"/>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {
                <ul class="nav navbar-nav">

                    <li>
                        <a href="~/Home" onmouseover="this.style.color='#56004d';" onmouseout="this.style.color = '#777';">
                            <i class="glyphicon glyphicon-home"> </i>
                            ACCEUIL
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/About" onmouseover="this.style.color='#56004d';" onmouseout="this.style.color = '#777';">
                            <i class="glyphicon glyphicon-info-sign"> </i>
                            QUI SOMMES NOUS
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/Contact" onmouseover="this.style.color='#56004d';" onmouseout="this.style.color = '#777';">
                            <i class="glyphicon glyphicon-envelope"> </i>
                            Contactez-nous
                        </a>
                    </li>

                    <li>
                        <input type="text" class="form-control" name="searchName" style="margin-top:6px;" placeholder="Search">

                    </li>
                    <li>

                        <button style="margin-top:6px;" class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>

                    </li>


                </ul>
                }
                @Html.Partial("_Session")
            </div>

        </div>
    </nav>
    <div class="container text-center ">
       
        <div class="row">
            <div class="col" style="min-height:530px;">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <!--Footer-->
    <footer class="text-center  myfooter">

        <div class="container">
          
            <div class="row">
                <div class="col-sm-4">
                    <h3>
                        A PROPOS NOUS
                    </h3>
                    <p>
                        Vous aimez les défis et les post-it ? Vous aimez travailler (beaucoup) dans une ambiance ludique et motivante ? Vous avez envie de nouveautés, d’innovations et d’apporter des solutions réellement utiles aux utilisateurs et clients ? Alors adressez-nous dès aujourd’hui votre CV accompagné de votre lettre de motivation, en précisant le type de poste pour lequel vous souhaitez postuler.
                </div>

                <div class="col-sm-4">
                    <h3>
                        LIENS INTÉRESSÉ
                    </h3>
                    <ul class="liens">
                        <li>
                            <a href="~/Home">
                                <i class="glyphicon glyphicon-home"> </i>
                                ACCEUIL
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/About">
                                <i class="glyphicon glyphicon-info-sign"> </i>
                                QUI SOMMES NOUS
                            </a>
                        </li>

                        <li>
                            <a href="~/Home/Contact">
                                <i class="glyphicon glyphicon-envelope"> </i>
                                CONTACT
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>
                        CONTACT
                    </h3>
                    <p>
                        hr_recrutement@gmail.com
                    </p>
                    <p>
                        +212 5xxxxxxxx
                    </p>
                    <p>
                        <a href="~/Home/Contact">
                            Envoyez-nous un e-mail
                        </a>
                    </p>
                </div>
            </div>



        </div>

    </footer>

    <script src="~/public/js/jquery.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    @RenderSection("scripts",required:false)
</body>
</html>
